{% extends 'layout.html' %}

{% block title %} Contact {% endblock %}

{% block body %}

    <div class="container jumbotron w-50 my-5">

        <h4 class="mx-auto ">Contact Us</h4>
         <p class="mx-auto ">We’d love to hear from you.
          Thank you for visiting Easy Cart. If you would like more information about our company or our services or for any other query.Chat with us. Or, submit the form below and we’ll contact you.</p>
        <form class="mt-3  mx-auto " action="/contact/" method="POST">  {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
              </div>
              <div class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
              </div>
            
                <div class="form-group">
                <label for="name">Phone</label>
                <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
              </div>
            
              <div class="form-group">
                <label for="query">Enter your query</label>
                <textarea class="form-control" id="query" name="query" rows="3"></textarea>
              </div>
            <button class="w-100 btn btn-primary ">Submit</button>
        </form>
    </div>

{% endblock %}